/*Tipografia*/
h1{
    font-size: 3.2em;
    font-weight: 700;
    color: #242f51;
}

h2{
    color: #242f51;
    font-weight: 650;
}

#download h2{
    color: #242f51;
    font-weight: 600;
    font-size: 2.4em;
    margin-bottom: 20px;
}

h3{
    color: #242f51;
    font-weight: 600;
}

h4{
    font-size: 1.3em;
    font-weight: 700;
}

.h4-red{
    color: #f55767;
}

.h4-blue{
    color: #2563ff;
}

.h4-green{
    color: #40975f;
}

p{
    color: #77797b;
    font-weight: 600;
}

/*Botões*/
.btn-custom{
    padding: 15px 25px;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    font-weight: 700;
}

.btn-custom:focus{
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.btn-faq{
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 700;
}

.btn-faq:focus{
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.btn-roxo{
    color: white;
    background: #2500f9;
}

.btn-roxo:hover{
    background: #fcae61;
    transition: 0.5s;
}

.btn-branco{
    color: #2500f9;
    background: white;
}

.btn-branco:hover{
    background: transparent;
    border: 1px solid rgb(235, 237, 237);
    transition: 0.5s;
}

/*Header links*/
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0);
}

.lista-footer{
    text-align: center;
    list-style: none;
    margin-top: 30px;
}

.lista-footer li{
    margin: 10px 8px;
    display: inline;
    list-style: none;
}

.lista-footer a{
    color: gray;
}

i:hover, a:hover{
    color: white;
}